.form 
{
    margin-left: 20rem;
    height: 10rem;
    width: 5rem;
    position: absolute;

    .clerk {
    margin-left: 6rem;
    .details
    {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
      
            label {
                /* Other styling... */
                padding: 12px 12px 12px 0;
                display: inline-block;
                
                text-align: right;
                // clear: both;
                float:left;
                margin-right:15px;
            }
            .col-25 {
                float: left;
                width: 25%;
                margin-top: 6px;
              }
              .col-75 {
                // float: left;
                // width: 75%;
                // margin-top: 6px;
              }
        
    }
  }
}
