.admin {
  // height: 100%;
  // width: 100%;
  .sideBarButtons {
    .unorderedList {
      padding: 0;
      position: absolute;
      left: 0;
      height: 100%;
      width: 250px;
      top: 0%;
      list-style-type: none;
      background-color: black;

      li {
        font-size: 1.7rem;
        padding: 1rem;
        .icons
        {
          color: aliceblue;
        }
        a {
          text-decoration: none;
          font-size: 1em;
          color: aliceblue;
        }
      }
    }
  }
  .main {
    padding-left: 11rem;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(
      180deg,
      rgb(214, 197, 216),
      rgb(255, 255, 255),
      rgb(232, 243, 237)
    );
  }
}
