.clerk
{
    // height: 100vh;
    // width: 100vw;
    position: absolute;
    overflow-y: hidden;
    overflow-x: hidden;

    // background-color: rgb(222, 158, 76);
    
    // .placeOrder
    // {
    //     position: absolute;
    //     top: 0%;
    //     left: 0%;
    //     // padding-left: 4rem;
    // }
    // .adminDistributorScreen
    // {
    //     position: absolute;
    //     top: 0%;
    //     left: 20%;
    // }
    // .adminSendNotification
    // {
    //     position: absolute;
    //     top: 0%;
    //     right: 30%;
    // }
}